<div class="bar_post">      
  <div style="">
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:left;padding-left:10px;">
        <a href="javascript:void(0);" onclick="window.history.back();">
              <%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
            </a>                    
      </div>
    </div>
    <div class="inline_block_middle" style="width:70%;">
      <div class="contain_title02" style="text-align:center;">
        <div style="font-size:14px;color:#c2c2c2;">
          Error
        </div>
      </div>
    </div>
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:right;">             
      </div>
    </div>
  </div>
</div>

<div style="height:45px;"></div>
<div style="height:40px;"></div>
<div class="a1" style="height:calc(100% - 85px);">
  <div class="a8" style="text-align:center;">
    <span>  
      <div>
        <%= image_tag "tavore_logo_01.png", :style =>'width:80px;height:80px;' %>
      </div>
      <div style="font-size:20px;">
          Not Found
      </div>
      <div style="height:3vh;"></div>
      <div class="font_white_min">
          お探しのページは見つかりません
      </div>
      <div style="height:10vh;"></div>    
    </span>
  </div>
</div>