<% if Post.find_by(user_id: current_user.id, category: post.category, review: "bookmark", work_id: post.work_id) %>
	<%= link_to "/works/#{post.id}/destroy_bookmark", method: :post, remote: true do %>
		<div class="btn_half_item">  
			<svg style="vertical-align:middle;width:20px;height:20px;margin-top:-5px;margin-right:10px;opacity:0.6;" viewBox="-110 -18 581 581.333"><path fill="#05627B" d="M181.25 363.11L354 545V0H-6v545l172.75-181.89c1.887-1.985 4.512-3.114 7.25-3.114s5.36 1.129 7.25 3.113zm0 0"/></svg>ブックマークを削除
		</div>
	<% end %>
<% else %>
	<%= link_to "/works/#{post.id}/create_bookmark", method: :post, remote: true do %>
		<div class="btn_half_item">  
			<svg style="vertical-align:middle;width:20px;height:20px;margin-top:-5px;margin-right:5px;opacity:0.6;" viewBox="-161 -27 859 859.304"><path fill="#FAFAFA" d="M514.824 805.586c-3.605 0-7.14-1.453-9.726-4.18L259.727 543.13 14.355 801.406c-3.793 4-9.628 5.274-14.71 3.227a13.41 13.41 0 0 1-8.454-12.469V26.852C-8.809 12.043 3.238 0 18.047 0h483.351c14.805 0 26.856 12.043 26.856 26.852V792.16a13.422 13.422 0 0 1-8.442 12.473c-1.617.64-3.308.953-4.988.953zM259.727 510.207a13.42 13.42 0 0 1 9.73 4.18L501.398 758.53V26.851H18.047v731.68l231.941-244.144a13.424 13.424 0 0 1 9.739-4.18zm0 0"/></svg>
			ブックマーク
		</div>
	<% end %>
<% end %>