<% if Post.find_by(user_id: current_user.id, category: post.category, review: "bookmark", work_id: post.work_id) %>
	<%= link_to "/works/#{post.id}/destroy_bookmark", method: :post, remote: true do %>
		<div class="btn_half_item">  
			<%= image_tag "bookmark_05627B.svg", :style =>'width:22px;height:22px;margin-right:15px;' %>ブックマークを削除
		</div>
	<% end %>
<% else %>
	<%= link_to "/works/#{post.id}/create_bookmark", method: :post, remote: true do %>
		<div class="btn_half_item">  
			<%= image_tag "bookmark_FAFAFA.svg", :style =>'width:22px;height:22px;margin-right:15px;' %>ブックマーク
		</div>
	<% end %>
<% end %>