<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		
		<div style="height:50px;"></div>
		<div class="test_radio03">
			<span>
				<div class="tango01">	
					<div style="height:3vh;"></div>
					<div class="nmn" style="text-align:center;width:100%;padding:10px;">
						<input id="inc_search" placeholder="&#xf002; 検索する" type="text" required="">
					</div>
					<div class="box_tests03">
						<div class="pro12">
							<span class="font_gray">提供：TheMovieDB</span>
						</div>
					</div>
					<div id='movie_list'>
					  <%= render partial: 'movie_list' %>
					</div>
				</div>
			</span>
		</div>

	</div>
	<div class="block_side">
	</div>
</div>



<script type="text/javascript">
	var
	preFunc = null,
	preInput = '',
	input = '',
	ajaxPost = function(input)
	{
	  $.ajax({
	    url: "ajax_movie_list",
	      type: "GET",
	      data: ("q=" + input)
	  });
	};

	$('#inc_search').on('keyup', function() {
	  input = $.trim($(this).val());   //前後の不要な空白を削除
	  if(preInput !== input){
	    clearTimeout(preFunc);
	    preFunc = setTimeout(ajaxPost(input), 500);
	  }
	  preInput = input;
	});
</script>