<p>検索名<p>
<input id="inc_search" type="text">

<div id='movie_list'>
  <%= render partial: 'movie_list' %>
</div>


<script type="text/javascript">
	var
	preFunc = null,
	preInput = '',
	input = '',
	ajaxPost = function(input)
	{
	  $.ajax({
	    url: "ajax_movie_list",
	      type: "GET",
	      data: ("q=" + input)
	  });
	};

	$('#inc_search').on('keyup', function() {
	  input = $.trim($(this).val());   //前後の不要な空白を削除
	  if(preInput !== input){
	    clearTimeout(preFunc);
	    preFunc = setTimeout(ajaxPost(input), 500);
	  }
	  preInput = input;
	});
</script>