<div class="bar_collection">
	<div class="bar_smoke"></div>	
	<div style="width:100%;">
		<div class="tabContainer">
	        <div class="tab_table">
	            <div class="tab__button active">すべて</div>
	            <div class="tab__button">映画</div>
	            <div class="tab__button">テレビ</div>
	            <div class="tab__button">ブック</div>
	            <div class="tab__button">コミック</div>
	            <div class="tab__button">ミュージック</div>
	        </div>
	    </div>
	</div>
</div>

<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		

		
		    <div class="swiper-container" style="height:100%">
				<div class="swiper-wrapper" style="height:100%">
			 
			        <div class="swiper-slide" style="height:100%">
			        	<div style="height:100%;overflow-y:scroll;">
				        	<div style="height:165px;"></div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				        </div>
			        </div>
			 
			        <div class="swiper-slide" style="height:100%">
			        	<div style="height:100%;overflow-y:scroll;">
				        	<div style="height:165px;"></div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				        </div>
			        </div>

			        <div class="swiper-slide" style="height:100%">
			        	<div style="height:100%;overflow-y:scroll;">
				        	<div style="height:165px;"></div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				        </div>
			        </div>

			        <div class="swiper-slide" style="height:100%">
			        	<div style="height:100%;overflow-y:scroll;">
				        	<div style="height:165px;"></div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				        </div>
			        </div>

			        <div class="swiper-slide" style="height:100%">
			        	<div style="height:100%;overflow-y:scroll;">
				        	<div style="height:165px;"></div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				            <div style="font-size:60px;">たこ焼き</div>
				        </div>
			        </div>
			 	</div>
		    </div>

	</div>
	<div class="block_side">
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script type="text/javascript">
	$(function(){
 
    /******************************************
    事前準備
    *******************************************/
 
    //タブボタンの数を取得
    var tabQuantity = $('.tab__button').length;
 
    //タブの長さとボディの長さの差分を取得
    var tabExtraDistance = $('.tab_table').width() - $('.tabContainer').width();
 
    /******************************************
    スライダー発動
    *******************************************/

    var swiper = new Swiper('.swiper-container', {
			speed: 800,
		  	on: {
			    slideChange: function () {
			      var newIndex = swiper.realIndex;
            	  slideChange(newIndex);
			    },
			  },
		});
 
    /******************************************
    スライドする時に発動する関数。タブの表示調整を行う。
    *******************************************/
 
    function slideChange(newIndex){
 
        //クラスを調整
        $('.tab__button').removeClass('active');
        $('.tab_table > div:nth-child(' + ( newIndex + 1 ) + ')').addClass('active');
 
        //スクロールするべき距離を取得。タブ全体の長さ / ( タブの個数 - 1 ) * スライドの現在地
        var scrollDestination = ( tabExtraDistance / (tabQuantity - 1) ) * ( newIndex );
 
        //スクロール位置を調整
        $('.tabContainer').animate({ scrollLeft: scrollDestination }, 'slow');
 
    }
 
    /******************************************
    タブボタンクリックで発動する関数
    *******************************************/
 
    $('.tab__button').on('click',function(e){
 
        //何番目の要素かを取ってスライドを移動する
        var nth = $('.tab__button').index(this);
        swiper.slideTo(nth, 500, false);
 
        //クリックイベントを無効化
        e.preventDefault();
 
    })
 
});
</script>


