<div style="height:45px;"></div>
<div class="a1" style="height:calc(100% - 45px);">
    <div class="a8" style="text-align:center;">
      <div style="height:5vh;"></div>
      <%= image_tag "tavore_logo_01.png", :style =>'width:150px;height:150px;' %>
      <div style="height:10vh;"></div>
    </div>
</div>