<% if params[:q].blank? %>
	<% if @users.present? %>
	  	<% @users.each do |user| %>
	  		<%= render partial: 'partial/user_list', locals: { user: user } %>
	  	<% end %>
	<% else %>
	 	<div class="font_gray" style="margin-top:25vh;text-align:center;">
			フォローされているユーザーがいません
		</div>
	<% end %>
<% else %>
	<% if @items.present? %>
	  	<% @items.each do |user| %>	
	        <%= render partial: 'partial/user_list', locals: { user: user } %>
	  	<% end %>
	<% else %>
		<div class="font_gray" style="margin-top:25vh;text-align:center;">
			結果がありません
		</div>
	<% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>