<% if params[:q].blank? %>
	<% if @posts.present? %>
		<% @posts.each.with_index(1) do |post, i| %>
			<%# 3列表示(lazyload) %>
			<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
	  	<% end %>
	  	<%#lazyload.js%>
		<script defer>
			$(function() {
		    	$('img.lazyload_min').lazyload();
			});
		</script>
  	<% end %>
<% else %>
	<% if @items.present? %>
	  	<% @items.each do |user| %>
	  		<% unless user == current_user %>
		  		<%= render partial: 'partial/user_list', locals: { user: user } %>
	        <% end %>
	  	<% end %>
	<% else %>
		<div class="font_gray" style="margin-top:25vh;text-align:center;">
			結果がありません
		</div>
	<% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>