<div style="font-size:12px;">
	<% if @check == true %>
		<div style="color:green;text-align:left;">
			<%= @validation %>
		</div>
	<% end %>
	<% if @check == false %>
		<div style="color:red;text-align:left;">
			<%= @validation %>
		</div>
	<% end %>
</div>