<div style="font-size:11px;">
	<% if @check == true %>
		<div style="color:green;opacity:0.6;">
			<%= @validation %>
		</div>
	<% end %>
	<% if @check == false %>
		<div style="color:red;opacity:0.6;">
			<%= @validation %>
		</div>
	<% end %>
</div>