<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">

		<div style="height:50px;"></div>

		<div class="a1">
          <div class="a4">
            <div class="d1">
              <%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
            </div>
          </div>

          <div class="a5">
            <div class="e1">
              <div class="e3">

              	<div class="bar_post">					
					<div class="box_tests04">
						<div class="pro13">
							<div style="text-align:left;">
								<a href="javascript:void(0);" onclick="window.history.back();">
						        	<span class="font_blue_max"><i class="fas fa-chevron-left"></i></span>
						        </a>										
							</div>
						</div>
						<div class="pro14">
							<div style="text-align:center;">
								<span class="font_white">
									設定
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="height05"></div>

				<div class="box_tests06">
		          <div class="pro24">
		            <div class="font_gray_max">
		            	アカウント
		            </div>
		          </div>
		        </div>
				<div class="box_tests07">
		          <div class="pro24">
		            <div class="font_white_max">
		            	パスワード
		            </div>
		          </div>
		          <div class="pro25">
		            <span class="font_gray_max">
		              <i class="fas fa-chevron-right"></i>
		            </span>
		          </div>
		        </div>

		        <div style="height:5vh;"></div>	

		        <div class="box_tests06">
		          <div class="pro24">
		             <div class="font_gray_max">
		            	サポート
		            </div>
		          </div>
		        </div>
				<div class="box_tests07">
		          <div class="pro24">
		            <div class="font_white_max">
		            	お問い合わせ
		            </div>
		          </div>
		          <div class="pro25">
		            <span class="font_gray_max">
		              <i class="fas fa-chevron-right"></i>
		            </span>
		          </div>
		        </div>

		        <div style="height:5vh;"></div>	
		        
		        <div class="box_tests06">
		          <div class="pro24">
		             <div class="font_gray_max">
		            	情報
		            </div>
		          </div>
		        </div>
				<div class="box_tests07">
		          <div class="pro24">
		            <div class="font_white_max">
		            	プライバシーポリシー
		            </div>
		          </div>
		          <div class="pro25">
		            <span class="font_gray_max">
		              <i class="fas fa-chevron-right"></i>
		            </span>
		          </div>
		        </div>
		        <div class="box_tests07">
		          <div class="pro24">
		            <div style="font-size:14px;">
		            	利用規約
		            </div>
		          </div>
		          <div class="pro25">
		            <span class="font_gray_max">
		              <i class="fas fa-chevron-right"></i>
		            </span>
		          </div>
		        </div>

		        <div style="height:5vh;"></div>	
		        
		        <div class="box_tests06">
		          <div class="pro24">
		             <div class="font_gray_max">
		            	ログイン
		            </div>
		          </div>
		        </div>
		        
				<div class="box_tests07">
					<%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } do %>
			          <div class="pro24">
			             <div class="font_white_max">
			            	ログアウト
			            </div>
			          </div>
			          <div class="pro25">
			            <span class="font_gray_max">
			              <i class="fas fa-chevron-right"></i>
			            </span>
			          </div>
			        <% end %>
			    </div>
			    

		        <div style="height:30vh;"></div>	


                
              </div>
            </div>

          </div>
        </div>
		
	
		
	</div>
	<div class="block_side">
	</div>
</div>
