<div class="bar_post">			
	<div style="">
		<div class="pro13">
			<div style="text-align:left;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left-arrow.png", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="pro14">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					お問い合わせ
				</div>
			</div>
		</div>
		<div class="pro15">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>


<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">    
              <div class="d4"></div>
            </div>
          </div>
          <div class="a5">
           		<div style="height:50px;"></div>
				<div style="height:40px;"></div>
				<div style="height:5vh;"></div>
				<div style="text-align:center;padding:20px;">
				　<a href="https://twitter.com/aripei_ask" blank>
	                <div>
	                  <%= image_tag "aripei.png", :style =>'width:100px;height:100px;border-radius:50%;background:#FAFAFA;' %>
	                </div>
	                <div style="font-size:15px;margin-top:1vh;">
	                  <i class="fab fa-twitter" style="color:#22b8ff;"></i> @aripei_ask
	                </div>
	              </a>
	              <div style="height:3vh;"></div>
	              <div class="font_white" style="margin-top:4vh;">
	                TAVOREはアリペイが運営しております
	              </div>
	              <div class="font_white" style="margin-top:4vh;">
	                皆さんのアドバイスやご指摘が本当に参考になります<br>
	                小さなことでもご連絡いただけるとありがたいです
	              </div>
	              <div class="font_gray_min" style="margin-top:4vh;">
	                Twitterアカウントをお持ちでない方はこちらまで
	              </div>
	              <a href="mailto:tavore.info&#64;gmail.com">
	                <div style="font-size:14px;margin-top:1vh;">
	                  tavore.info@gmail.com
	                </div>
	              </a>
	            </div>
          </div>
        </div>	
	</div>
	<div class="block_side">
	</div>
</div>

