<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">

		<div style="height:50px;"></div>

		<div class="a1">
          <div class="a4">
            <div class="d1">    
              <div class="d2"></div>
            </div>
          </div>

          <div class="a5">
            <div class="e1">
              <div class="e3">

              	<div class="bar_post">
              		<div class="bar_smoke"></div>						
					<div class="box_tests04">
						<div class="pro13">
							<div style="text-align:left;">
								<a href="javascript:void(0);" onclick="window.history.back();">
						        	<span class="font_blue_max"><i class="fas fa-chevron-left"></i></span>
						        </a>										
							</div>
						</div>
						<div class="pro14">
							<div style="text-align:center;">
								<span class="font_white">
									お問い合わせ
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="height05"></div>

				<div class="font_white" style="text-align:center;">
					運営は〇〇が行なっております
					<br>
					何かありましたらtavore.info@gmail.comか〇〇まで
				</div>	


              </div>
            </div>

          </div>
        </div>
		
	
		
	</div>
	<div class="block_side">
	</div>
</div>

