<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">	
		<div style="height:50px;"></div>
		<div class="a1">
          <div class="a4">
            <div class="d1">
              <div class="d4"></div>
            </div>
          </div>
          <div class="a5">
			<div class="test_radio03">
				<span>
					<div class="tango01">	
						<div style="height:3vh;"></div>
						<div class="nmn" style="text-align:center;width:100%;padding:10px;">
							<form action="#">
								<input id="inc_search" placeholder="&#xf002; 検索する" type="text" required="">
							</form>
						</div>
						<div class="box_tests03">
							<div class="pro12">
								<span class="font_gray">フォロー中</span>
							</div>
						</div>
						<div id='following_list'>
						  <%= render partial: 'following_list' %>
						</div>
						<div style="height:100px;"></div>
					</div>
				</span>
			</div>
		  </div>
		</div>
	</div>
	<div class="block_side">
	</div>
</div>




<script type="text/javascript">
	$(function(){
		var
		preFunc = null,
		preInput = '',
		input = '',
		ajaxPost = function(input)
		{
		  $.ajax({
		    url: "ajax_following_list",
		      type: "GET",
		      data: ("q=" + input)
		  });
		};

		$('#inc_search').on('keyup', function() {
		  input = $.trim($(this).val());   //前後の不要な空白を削除
		  if(preInput !== input){
		    clearTimeout(preFunc);
		    preFunc = setTimeout(ajaxPost(input), 2000);
		  }
		  preInput = input;
		});
	});
</script>

<script type="text/javascript">
	$(function(){
		$( '#inc_search' ).keypress( function ( e ) {
			if ( e.which == 13 ) {
			// ここに処理を書く

			// スマホのキーボードを閉じる
			  $("#inc_search").blur();
			   return false;
			}
		})
	});
</script>