<%#トップバー%>
<div class="bar_top">      
    <div class="inline_block_middle" style="width:15%;">
    	<div style="text-align:left;padding-left:15px;">
        	<a href="javascript:void(0);" onclick="window.history.back();">
          		<%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
        	</a>                    
      	</div>
    </div>
    <div class="inline_block_middle" style="width:70%;">
      	<div class="contain_title02" style="text-align:center;">
        	<div style="font-size:14px;color:#FAFAFA;">
          		フォロワー
        	</div>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:15%;">
    	<div style="text-align:right;padding-right:15px;">             
	    </div>
    </div>
</div>
<div style="height:50px;"></div>

<%#検索バー%>
<div class="bar_search" style="padding:5px 15px;">
	<div class="nmn inline_block_middle" style="text-align:center;width:100%;">
		<form action="#">
			<input id="inc_search" placeholder="検索" type="text" required="">
		</form>
	</div>
</div>
<div style="height:55px;"></div>

<%#検索結果%>
<div style="margin-top:-20px;"></div>
<div id='following_list'>
  <%= render partial: 'following_list' %>
</div>

<%#インクリメンタルサーチjs%>
<script defer>
	$(function(){
		var
		preFunc = null,
		preInput = '',
		input = '',
		ajaxPost = function(input)
		{
		  $.ajax({
		    url: "ajax_following_list",
		      type: "GET",
		      data: ("q=" + input)
		  });
		};
		$('#inc_search').on('input',function(){
		  input = $.trim($(this).val());   //前後の不要な空白を削除
		  if(preInput !== input){
		    clearTimeout(preFunc);
		    preFunc = setTimeout(ajaxPost(input), 2000);
		  }
		  preInput = input;
		});
		$( '#inc_search' ).keypress( function ( e ) {
			if ( e.which == 13 ) {
			// ここに処理を書く

			// スマホのキーボードを閉じる
			  $("#inc_search").blur();
			   return false;
			}
		});
	});
</script>
