<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					プライバシーポリシー
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>


<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">    
              <div class="d4"></div>
            </div>
          </div>
          <div class="a5">
            	<div style="height:50px;"></div>
				<div style="height:40px;"></div>
				<div style="height:5vh;"></div>
				<div class="font_white_min"  style="text-align:left;padding:0 20px;">
					<h4>プライバシーポリシー</h4>

					<p>弊社は、個人情報保護の重要性を認識し、その保護の徹底のため、以下の定めに従い、お客様（以下「ユーザー」といいます。）からの情報を適正に取り扱います。</p>

					<h4>第１条 （適用）</h4>

					<p>１ このプライバシーポリシー（以下「本ポリシー」といいます）は、弊社が配信するウェブサイト又はサービス（以下「サービス」といいます）の利用に適用されます。 
					<br>２ 弊社が、弊社のサービスにつき個別にプライバシーポリシーを定めた場合には、本ポリシーは当該サービスの個別のプライバシーポリシーと共に適用されるものとします 。
					<br>３ 本ポリシーにおいて「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）をいいます（個人情報保護法２条１項）。</p>

					<h4>第２条 （取得する情報）</h4>

					<p>１ 弊社は、サービスにおいて、以下に定める通り、個人情報を含む情報（以下、「ユーザー情報」と総称します。）を取得します。 </p>

					<p>（1） サービスのご利用時に弊社が収集する情報 
					 <br>ア 端末情報 
					 弊社は、サービスの維持及び改善、又は不正行為防止のため、ユーザーが使用される端末固有の情報（端末固有のID等の個体識別情報等）を収集することがあります。 
					 <br>イ ログ情報及び行動履歴情報 
					 弊社は、サービスの維持及び改善、又は不正行為防止のため、サービスの利用時に自動で生成、保存されるIPアドレス、ユーザーからのリクエスト日時、アプリ内での操作履歴の情報を収集することがあります。 
					 <br>ウ 位置情報 
					 弊社は、ユーザーの現在地等の情報を利用したサービスを提供するため、当該サービスの提供に必要な範囲内で、ユーザーのスマートフォン端末、タブレット端末その他の情報端末等から送信される位置情報を収集することがあります。なお、情報端末上の設定の変更により位置情報の送信を停止することができますが、サービスの一部を利用できなくなる場合があります。 
					 <br>エ Cookie及び匿名ID 
					 サービスにおいて、「Cookie（クッキー）」と呼ばれる技術及びこれに類する技術を使用する場合があります。Cookieとは、ウェブサーバがユーザーのコンピュータを識別する業界標準の技術です。なお、情報端末上の設定の変更によりCookieの機能を無効にすることはできますが、サービスの全部又は一部が利用できなくなる場合があります。 
					弊社は、ユーザーからの許可に基づき、提携サービスでユーザーが利用するIDその他当該提携サービスのプライバシー設定によりユーザーが提携先に開示することを認めた情報を取得する場合があります。 </p>

					<p>２ 弊社は、ユーザー情報の取得にあたっては、偽りその他不正の手段によらず、適正な方法により取得します。また、弊社は、ユーザーがサービスを利用することによる取得以外の方法でユーザー情報を取得する場合には、その利用目的を事前に通知又は公表します。</p>

					<h4>第３条 （利用目的）</h4>

					<p>１ 弊社は、サービスの利用を通じて取得したユーザー情報を、大きく分けて下記の目的の範囲内で適正に取り扱います。ユーザーご本人の同意なく利用目的の範囲を超えて利用することはありません。ただし、個人情報保護法１６条３項各号に該当する場合は、この限りではありません。

					<br>・本ウェブサイト等で安全かつ確実に取引をして頂くために 利用者に電子メール等で取引の状態や重要な事項を連絡させて頂くため

					<br>・本取引のご購入確認をするため

					<br>・電子メール配信サービスのお申し込みの確認やメールを配信するため

					<br>・本サービスへの登録の確認や本サービスを提供するため

					<br>・本取引・本サービスのご請求、お支払いとその確認をするため

					<br>・ご協力いただいた調査に対して謝礼などをお送りするため


					<br>・本ウェブサイト等運営上のトラブルの解決のため

					<br>・本取引・本サービス、本ウェブサイト等などの内容を皆さまがよりご満足いただけるよう改良するため

					<br>・皆さまが注文された情報や本取引などに関する満足度を調査するため

					<br>・個人情報を統計的に処理した情報を集約し調査結果として公表するため

					<br>・皆さまのご利用状況を把握し、本サービスの改善や新サービスの開発に役立てるため

					<br>・各種会員制サービス、その他各種サービスのご案内をお届けするため

					<br>・調査のご協力や各種イベントへのご参加をお願いしたり、その結果等をご報告するため

					<br>・本取引、本サービス、本ウェブサイト等などの利用状況を把握し、弊社をはじめ皆さまに有益と思われる企業/団体の情報や調査などをお届けするため</p>

					<h4>第４条 （第三者提供）</h4>

					<p>１ 弊社は、ユーザー情報のうち、個人情報については、以下の場合を除き、第三者に提供することはありません。 
					<br>（１） ユーザーの同意を得た場合 
					<br>（２） 前条において「第三者提供」を目的として取得する旨規定した情報を第三者に対し提供する場合（この場合、弊社は第三者に対し、書面等の物理的方法、電磁的に送信する方法等の方法により提供するものとします。） 
					<br>（３） サービスの利用上、ユーザーが他人の利益を害し若しくは公序良俗に反する行為その他サービスの利用規約に違反する行為を行い又はこ 
					          れを行おうとするときに、当該行為に対して必要な措置をとる場合 
					<br>（４） 人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき 
					<br>（５） 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき 
					<br>（６） 国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意 
					          を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき 
					<br>（７） 合併、会社分割、事業譲渡その他の事由によりユーザーの個人情報を含む事業の承継がなされる場合 
					<br>（８） 前条所定の目的達成に必要な範囲内において、個人情報の取扱いの全部又は一部を委託する場合 
					<br>（９） 個人情報保護法その他の法令により認められる場合 </p>
					<p>２ ユーザーは、前項２号に基づく第三者提供について、弊社に対し、その停止を求めることができます。その場合の手続は、第１０条２項を準用することとします。 </p>

					<h4>第５条 （個人情報の取扱いの委託）</h4>

					<p>弊社は、ユーザーから取得した個人情報の全部又は一部の取扱いを第三者に委託（個人情報を含む情報の管理を事業者に委託する場合などをいいます。）することがあります。この場合、弊社は、当該委託先との間で本ポリシーに準じる内容の秘密保持契約等をあらかじめ締結するとともに、当該委託先において情報の適切な安全管理が図られるよう、必要かつ適切な監督を行います。</p>

					<h4>第６条  (安全管理体制）</h4>

					<p>１ 弊社は、ユーザー情報の漏えい、滅失又は毀損の防止その他のユーザー情報の保護のため、個人情報ファイルへのアクセス制限の実施、アクセスログの記録、また外部からの不正アクセス防止のためのセキュリティソフトの導入等、ユーザー情報の安全管理のために必要かつ適切な措置を講じています。 
					<br>２ 弊社は、代表取締役をユーザー情報管理責任者とし、ユーザー情報の適正な管理及び継続的な改善を実施します。</p>


					<h4>第7条 （個人情報の利用停止等）</h4>

					<p>弊社は、ユーザーから、ユーザーの個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由、又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合において、その請求に理由があることが判明した場合には、ご本人様からの請求であることを確認の上で、遅滞なく個人情報の利用停止等を行い、その旨をご本人様に通知します。ただし、個人情報保護法その他の法令により、弊社が利用停止等の義務を負わない場合は、この限りではありません。</p>

					<h4>第8条 （本ポリシーの変更）</h4>

					<p>１ 弊社は、ユーザー情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、随時本ポリシーを変更することがあります。 
					<br>２ 変更後の本ポリシーについては、サービス上又は弊社の運営するウェブサイトでの掲示その他分かりやすい方法により告知します。ただし、法令上ユーザーの同意が必要となるような内容の変更を行うときは、別途弊社が定める方法により、ユーザーの同意を取得します。</p>

					<h4>第9条 （お問い合わせ）</h4>

					<p>弊社のユーザー情報の取扱いに関するご意見、ご質問、ご請求、苦情のお申出その他ユーザー情報の取扱いに関するお問い合わせは、下こちら(tavore.info@gmail.com)までご連絡ください。</p>
				</div>
				<div style="height:5vh;"></div>
          </div>
        </div>
	</div>
	<div class="block_side">
	</div>
</div>

