<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					利用規約
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>

<div style="height:45px;"></div>
<div style="height:35px;"></div>
<div style="height:3vh;"></div>
<div class="font_white_min"  style="text-align:left;padding:0 20px;">
	<h4>TAVORE利用規約</h4>

	<p>この規約（以下、「本規約」とします。）は、弊社が運営する作品コレクションサービス「TAVORE」を通じて提供されるサービス（以下、「本サービス」）についての利用条件を定めるものです。</p>

	<h4>第1条(規約の適用）</h4>

	<p>本規約は、本サービスの利用に関する弊社との間の一切の関係に適用されます。本規約の内容に同意しない場合、本サービスを利用することはできません。また、本サービスは The Movie Database API 及び iTunes API 及び Rakuten Books API を使用しておりそれぞれの利用規約も適用されます。</p>

	<p>The Movie Database API 利用規約
	   <br>＜https://developers.themoviedb.org/3＞</p>

	<p>iTunes API 利用規約
	   <br>＜https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api＞</p>

	<p>Rakuten Books API 利用規約
	   <br>＜https://webservice.rakuten.co.jp＞</p>

	<h4>第2条（用語の定義）</h4>

	<p>本規約において、次の各号に掲げる用語の意味は、当該各号に定めるとおりとします。</p>

	<p>(1)「利用契約」とは、弊社から本サービスの提供を受けるための本規約に基づく契約をいいます。</p>

	<p>(2)「本サービスとは弊社が運営する作品コレクションSNSサービス「TAVORE」を通じて提供されるサービス</p>

	<p>(3)「提案情報」：本サービスを利用して、弊社が利用者に提供した一切の情報</p>

	<h4>第3条 (本サービスの内容等）</h4>

	<p>1. 本サービスは、本や映画や音楽等を記録サービスで、次の各号に掲げる機能を提供することを内容とし、その詳細は、本サービスサイト上に定めるとおりとします。なお、お客様の利用環境（特定の機種・ブラウザの種類・バージョン、ブラウザの設定状況、通信回線の状況等）によっては、利用できる機能に制限がある場合があります。</p>
	
	<p>2.本サービスを受ける際に発生する携帯電話を含む情報通信機器等による情報の受送信やウェブサイト閲覧その他に必要な通信環境の一切は、利用者の責任及び負担において、用意するものとします。</p>

	<p>3. 弊社は、本サービスについて、サービス契約者の特定の利用目的への適合性、利用結果の完全性、有用性、的確性、信頼性、即時性等について何ら保証するものではなく、これらに関連してサービス契約者に損害が生じたとしても一切責任を負いません。</p>

	<p>4.弊社は、理由の如何を問わず、利用者に事前の通知をすることなく、本サービスについて、内容の一部又は全部の変更、料金の改定、提供頻度の変更、休止、廃止をすることができるものとします。ただし、これにより利用者に損害が生じた場合であっても、弊社は一切の責任を負いません。</p>


	<h4>第4条（利用契約の成立）</h4>

	<p>1.弊社は、本サービスの機能や利用範囲等を利用者の年齢、利用環境その他の条件（以下、「利用条件」といいます。）に応じて設定するものとします。</p>

	<p>2.利用者は、弊社の設定する利用条件に従って本サービスを利用しなければならず、本サービスを利用する際には、各機能やサービスの利用条件を確認するものとします。</p>

	<p>3.なお、申込者が未成年者である場合は、利用契約の申込み（利用契約締結後の本サービスの利用に関する各種注文を含みます。）について法定代理人（親権者又は未成年後見人）の事前の同意を得るものとします。</p>

	<h4>第5条（知的財産権等）</h4>

	<p>本サービスに関連して、又は本サービスを通じてサービス契約者に提供される情報・コンテンツ等（以下「本サービスコンテンツ等」といいます。）に係る著作権等の知的財産権その他一切の権利は、弊社又は第三者に帰属します。利用契約の締結は、サービス契約者に対してこれらに関する何らの権利を移転するものではなく、サービス契約者は、利用契約に基づく本サービスの利用に必要な範囲に限って、本サービスコンテンツ等を使用することができるものとします。</p>

	<h4>第6条（禁止事項）</h4>

	<p>サービス契約者は、本サービスの利用にあたって次の各号に該当する行為を行ってはならないものとします。</p>

	<p>(1)弊社若しくは第三者の著作権、特許権、実用新案権、意匠権、商標権等の知的財産権、プライバシーその他の権利若しくは利益を侵害する行為、又はそれらのおそれのある行為</p>

	<p>(2)公序良俗に反する行為若しくは公序良俗に反する情報を第三者に提供する行為、又はそれらのおそれのある行為</p>

	<p>(3)犯罪的行為、犯罪的行為に結びつく行為若しくは法令に違反する行為、又はそれらのおそれのある行為</p>

	<p>(4)事実に反する情報又はそのおそれのある情報を提供する行為</p>

	<p>(5)弊社若しくは第三者の名誉若しくは信用を毀損する行為、又はそれらのおそれのある行為</p>

	<p>(6)本サービスに係る設備に対して過度な負担を与える行為、弊社による本サービスの提供を不能にする行為その他弊社による本サービスの提供に支障を与え、若しくはその運営を妨げる行為、又はそれらのおそれのある行為</p>

	<p>(7)コンピュータウイルス等有害なプログラムを、本サービスを通じて、若しくは本サービスに関連して使用し、若しくは提供する行為、又はそれらのおそれのある行為</p>

	<p>(8)本サービスコンテンツ等について、複製、公衆送信（自動公衆送信の場合にあっては、送信可能化を含みます。）、伝達、譲渡、貸与、変形、翻案、商用的二次利用等の利用を行うなど、本サービスコンテンツ等を第5条（知的財産権等）に定める範囲を超えて利用し、又は使用する行為</p>

	<p>(9)本サービスコンテンツ等について、改変若しくは改ざんを行い、又は逆コンパイル、逆アセンブル等のリバースエンジニアリング（主に、内容を解析して、人間が読み取り可能な形に変換することを指します。）を行う行為</p>

	<p>(10)本サービスコンテンツ等に付されている著作権表示その他の権利表示を除去し、又は変更する行為</p>

	<p>(11)その他弊社が不適切と判断する行為</p>

	<h4>第7条 (利用料金)</h4>

	<p>本サービスは無料で利用できます。ただし、本サービスの利用に伴い発生するパケット通信料金等はサービス契約者自身の負担となります。</p>

	<h4>第8条 (提案情報の取り扱い）</h4>

	<p>本サービスを構成する文章、画像、プログラム、提案情報、その他のデータ等についての一切の権利（所有権、知的財産権、肖像権、パブリシティー権等）は、会員自身が作成したものを除き、弊社又は当該権利を有する第三者に帰属しています。</p>

	<h4>第9条 (個人情報の開示と利用)</h4>

	<p>1.弊社は、本サービス上で利用者が提供する登録情報を以下の各号に定める方法で利用します。</p>

	<p>(1)利用者に提案情報を送信すること</p>

	<p>(2)利用者にとって有益であると弊社が判断する情報（弊社、広告主及び提携先の商品、サービスなどの情報を含む）を提供すること</p>

	<p>(3)本サービスの向上及び弊社のマーケティングなどの目的で利用情報を集計及び分析すること</p>

	<p>2,登録情報は、弊社のプライバシーポリシーに従い、弊社が管理します。</p>

	<p>3.利用者は、本条に定めるとおりに弊社が登録情報を取り扱い、保有することに同意し、異議を申立てないこととします。</p>

	<h4>第10条 (本サービスの提供停止について)</h4>

	<p>1. 弊社は、サービス契約者が次の各号のいずれかに該当すると弊社が判断したときは、サービス契約者に対する事前の通知を行うことなく、本サービスの全部又は一部の提供を停止することがでるものとします。</p>

	<p>(1)第6条（禁止事項）に違反したとき。</p>

	<p>(2)第17条（反社会的勢力の排除）の定めに違反するおそれがあるとき</p>

	<p>(3)弊社に対して事実に反する内容の届出又は通知をしたとき。</p>

	<p>(4)第三者による本サービスの利用に支障を与える又はそのおそれのある行為があったとき。</p>

	<p>(5)その他本規約に違反したとき。</p>

	<p>(6)その他弊社の業務の遂行上支障があるとき。</p>

	<p>2. 弊社は、サービス契約者に対し、前項の措置に替えて、又は前項の措置とともに、期限を定めて当該事由を解消することを求めることができるものとします。ただし、本項の定めは、弊社の利用規約に基づき利用契約を解除することを妨げるものではありません。</p>

	<h4>第11条 (提供中断等について)</h4>

	<p>1. 弊社は、次の各号のいずれかに該当すると弊社が判断したときは、本サービスの全部又は一部の提供を中断することがあります。</p>

	<p>(1)天災地変等の不可抗力により本サービスが提供できなくなったとき。</p>

	<p>(2)本サービスに関する機器、設備等の保守、工事等を実施する必要があるとき。</p>

	<p>(3)本サービスにおいて使用する機器、設備等に故障、障害等が発生したとき。</p>

	<p>(4)災害の予防若しくは救援、交通、通信若しくは電力の供給の確保又は秩序の維持に必要な通信その他公共のために必要があるとき。</p>

	<p>(5)弊社の運用上又は技術上、本サービスの全部又は一部の提供を中断する必要があるとき。</p>

	<p>2. 弊社は、前項に定めるほか、本サービスの運用上必要な範囲において、本サービスの利用の制限等を行うことができるものとします。</p>

	<p>3. 弊社は、第1項に基づく本サービスの全部若しくは一部の提供の中断又は前項に定める利用の制限等を計画している場合は、その旨を本サービスサイト上に掲載する方法によりサービス契約者に周知するものとします。ただし、緊急やむを得ない場合は当該周知を行わないことがあります。</p>

	<p>4. 弊社は、第1項の定めに基づき本サービスの提供を中断し、又はその利用を制限等した場合、当該提供中断又は利用制限等によりサービス契約者に損害が生じた場合であっても、一切責任を負いません。</p>

	<h4>第12条 (本サービスの廃止）</h4>

	<p>1. 弊社は、弊社の都合によりいつでも本サービスの全部又は一部を廃止することができるものとし、この場合、本サービスサイト上に掲載する方法により、サービス契約者に対してその旨を周知するものとします。なお、本サービスの全部が廃止された場合は、当該時点をもって利用契約は自動的に終了するものとします。</p>

	<p>2. 弊社は、前項の定めに基づき本サービスの全部又は一部を廃止したことによりサービス契約者に損害が生じた場合であっても、一切責任を負いません。</p>

	<h4>第13条 (弊社の権利）</h4>

	<p>1.弊社は、利用者の事前の承諾を必要とせず、本サービスを利用して広告等を配信する権利を有します。</p>

	<p>2.弊社は、利用者の事前の承諾を必要とせず、弊社が適切と判断する方法にて、利用者に種別を設け、それぞれの利用者に異なる形態で、本サービスを提供することができるものとします。</p>

	<p>3.弊社及び弊社の指定する第三者は、利用者を対象として、キャンペーン及びアンケート等を実施することができるものとし、これらに対する利用者の回答内容について発生する著作権等の知的財産権その他一切の権利については、利用者が弊社に回答を送信した時点をもって弊社に移転するものとします。弊社は、回答内容に含まれる利用者に関する情報を、第6条の定めに準じて取り扱うものとします。</p>

	<h4>第14条 (損害賠償の制限）</h4>

	<p>1. 弊社がサービス契約者に対して損害賠償責任を負う場合であっても、弊社がサービス契約者に対して負う責任の範囲は、通常生ずべき直接の損害（逸失利益を除きます。）に限られるものとし、かつ、300円を上限とします。</p>

	<p>2. 弊社の故意又は重大な過失によりサービス契約者に損害を与えた場合は、前項の定めは適用しません。</p>

	<h4>第15条 (免責)</h4>

	<p>1.弊社は、利用者が提供情報その他本サービスから得た一切の情報（本サービスに記載されている情報、紹介されている書籍などの外部の情報、リンク先の情報を含む）について、情報の正確性、完全性を保証するものではなく、当該情報による一切の行為又はその結果について当一切の責任を負わないものとします。</p>

	<p>2.利用者は自らの責任に基づき本サービスを利用するものとし、本サービスに関する紛争、損害賠償の請求などに関しては自らの費用と責任で対応するものとします。</p>

	<p>3.弊社は、本サービスに関連して利用者が被った損害について、一切賠償の責任を負わないものとします。なお、消費者契約法の適用その他の理由により、本項その他弊社の損害賠償責任を免責する規定にかかわらず弊社が利用者に対して損害賠償責任を負う場合においても、弊社の賠償責任は、金10,000円を上限とします。</p>

	<p>4.利用者による本サービスの利用に関連して、弊社が、他の利用者、その他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、利用者は当該請求に基づき弊社が当該第三者に支払を余儀なくされた金額を賠償するものとします。</p>


	<h4>第16条 (通知)</h4>

	<p>1. 弊社は、本サービスに関するサービス契約者への通知を、弊社が適当と判断する方法によりできるものとします。</p>

	<p>2. 前項各号に掲げる方法によるサービス契約者への通知は、弊社が前項に定める通知を発した時点になされたものとみなします。</p>

	<p>3.弊社は、本サービスサイト上にその内容を掲載することをもって、本サービスに関するサービス契約者に対する通知に替えることができるものとします。この場合、弊社が当該通知内容を本サービスサイト上に掲載した時点をもって当該通知がサービス契約者に対してなされたものとみなします。</p>

	<h4>第17条 (残存効)</h4>

	<p>利用契約が終了した後も、第5条（知的財産権等）、第7条（利用料金）、第9条（個人情報の開示と利用）、第11条（提供中断等について）、第12条（本サービスの廃止)、第14条（損害賠償の制限）、第17条（反社会的勢力の排除）、第20条（合意管轄）及び第21条（準拠法）の定めは、なお有効に存続するものとします。</p>

	<h4>第18条（反社会的勢力の排除）</h4>

	<p>1. サービス契約者は、次の各号のいずれか一にも該当しないことを表明し、かつ将来にわたっても該当しないことを表明し、保証するものとします。</p>

	<p>(1)自ら（法人その他の団体にあっては、自らの役員を含みます。）が、暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋、社会運動等標ぼうゴロ又は特殊知能暴力集団等その他これらに準じる者（以下総称して「暴力団員等」といいます。）であること。</p>

	<p>(2)サービス契約者が法人その他の団体の場合にあっては、暴力団員等が経営を支配していると認められる関係を有すること。</p>

	<p>(3)サービス契約者が法人その他の団体の場合にあっては、暴力団員等が経営に実質的に関与していると認められる関係を有すること。</p>

	<p>(4)自ら若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもって取引を行うなど、暴力団員等を利用していると認められる関係を有すること。</p>

	<p>(5)暴力団員等に対して資金等を提供し、又は便宜を供与するなどの関与をしていると認められる関係を有すること。</p>

	<p>(6)サービス契約者が法人その他の団体の場合にあっては、自らの役員又は自らの経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること。</p>

	<p>2. サービス契約者は、自ら又は第三者を利用して次の各号のいずれか一にでも該当する行為を行わないことを保証するものとします。</p>

	<p>(1)暴力的な要求行為</p>

	<p>(2)法的な責任を超えた不当な要求行為</p>

	<p>(3)取引に関して、脅迫的な言動をし、又は暴力を用いる行為</p>

	<p>(4)風説を流布し、偽計を用い、又は威力を用いて、弊社の信用を毀損し、又は弊社の業務を妨害する行為</p>

	<p>(5)その他前各号に準ずる行為</p>

	<h4>第19条 (規約の変更)</h4>

	<p>弊社は、本サービスサイト上に掲載する方法によって、あらかじめサービス契約者に周知することにより、本規約を変更することができるものとします。なお、本規約が変更された場合は、当該変更後の本規約が適用されます。</p>

	<h4>第20条(権利の譲渡)</h4>

	<p>サービス契約者は、利用契約に基づき弊社に対して有する権利又は弊社に対して負う義務の全部又は一部を第三者に譲渡し、承継させ、又は担保に供することはできません。</p>

	<h4>第21条 (合意管轄)</h4>

	<p>サービス契約者と弊社との間で利用契約に関連して訴訟の必要が生じた場合は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

	<h4>第22条 (準拠法)</h4>

	<p>サービス契約者と弊社との間で利用契約に関連して訴訟の必要が生じた場合は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

	<p>附則（2018年11月1日）
	<br>本規約は、2018年11月1日から実施します。</p>
</div>
<div style="height:5vh;"></div>