<div class="bar_search" style="padding:15px;">
	<div class="nmn inline_block_middle" style="text-align:center;width:90%;">
		<form action="#">
			<input id="inc_search" placeholder="Search" type="text" required="">
		</form>
	</div>
	<a href="" data-toggle="modal" data-target="#myModal_fillter">
		<div class="inline_block_middle" style="text-align:center;width:10%;padding-left:15px;">
			<img src="/assets/sort_FAFAFA.svg" style="width:22px;height:22px;opacity:0.4;">
		</div>
	</a>
</div>

<div style="height:45px;"></div>
<div style="height:55px;"></div>
<span id='user_list'>
  <%= render partial: 'user_list' %>
</span>
<div style="height:1vh;"></div>	

<%#フィルターボタン%>
<%= render "partial/fillter" %>

<%#インクリメンタルサーチjs%>
<script defer>
	$(function(){
		var
		preFunc = null,
		preInput = '',
		input = '',
		ajaxPost = function(input)
		{
		  $.ajax({
		    url: "ajax_user_list",
		      type: "GET",
		      data: ("q=" + input)
		  });
		};
		$('#inc_search').on('input',function(){
		  input = $.trim($(this).val());   //前後の不要な空白を削除
		  if(preInput !== input){
		    clearTimeout(preFunc);
		    preFunc = setTimeout(ajaxPost(input), 2000);
		  }
		  preInput = input;
		});
		$( '#inc_search' ).keypress( function ( e ) {
			if ( e.which == 13 ) {
			// ここに処理を書く

			// スマホのキーボードを閉じる
			  $("#inc_search").blur();
			   return false;
			}
		});
	});
</script>
