<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					ユーザーを検索
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>

<div class="a1">
  <div class="a5">
	<div style="height:45px;"></div>
	<div style="height:40px;"></div>
	<div class="nmn" style="text-align:center;width:100%;padding:10px;">
		<form action="#">
			<input id="inc_search" placeholder="検索する" type="text" required="">
		</form>
	</div>
	<div id='user_list'>
	  <%= render partial: 'user_list' %>
	</div>
	<div style="height:5vh;"></div>	
  </div>
</div>

<%#インクリメンタルサーチjs%>
<script defer>
	$(function(){
		var
		preFunc = null,
		preInput = '',
		input = '',
		ajaxPost = function(input)
		{
		  $.ajax({
		    url: "ajax_user_list",
		      type: "GET",
		      data: ("q=" + input)
		  });
		};
		$('#inc_search').on('input',function(){
		  input = $.trim($(this).val());   //前後の不要な空白を削除
		  if(preInput !== input){
		    clearTimeout(preFunc);
		    preFunc = setTimeout(ajaxPost(input), 2000);
		  }
		  preInput = input;
		});
		$( '#inc_search' ).keypress( function ( e ) {
			if ( e.which == 13 ) {
			// ここに処理を書く

			// スマホのキーボードを閉じる
			  $("#inc_search").blur();
			   return false;
			}
		});
	});
</script>
