<% if user_signed_in? %>
  <style>
    .bar_top{display:none;}
  </style>
  <div class="bar_back">      
    <div style="padding-top:15px;">
      <div class="inline_block_middle" style="width:15%;">
        <div style="text-align:left;padding-left:15px;">
          <a href="javascript:void(0);" onclick="window.history.back();">
                <%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
              </a>                    
        </div>
      </div>
      <div class="inline_block_middle" style="width:70%;">
        <div class="contain_title02" style="text-align:center;">
          <div style="font-size:14px;color:#c2c2c2;">
            パスワードを忘れたら
          </div>
        </div>
      </div>
      <div class="inline_block_middle" style="width:15%;">
        <div style="text-align:right;">             
        </div>
      </div>
    </div>
  </div>
<% end %>

<div style="height:45px;"></div>
<div class="a1" style="height:calc(100% - 45px);">
  <div class="a8" style="text-align:center;">
    <div class="font_white_big">
      パスワードを忘れたら
    </div>
    <div style="height:2vh;"></div>
    <div class="font_white">
      以下の欄に登録したメールアドレスをご入力ください
      <br>パスワード再設定について、メールでご連絡いたします
    </div>
    <div style="height:2vh;"></div>
    <div class="gogo">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>   
        <%= f.submit "送信",class:"btn_session" %>
      <% end %>
    </div>
    <div style="height:10vh;"></div>
  </div>
</div>