<div class="main">
  <div class="block_side">
  </div>
  <div class="block_main">
    
    <div style="height:50px;"></div>
    <div class="a1">
      <div class="a4">
        <div class="d1">    
          <div class="d4"></div>
        </div>
      </div>
      <div class="a8">
        <div class="font_white_big">
          パスワードを忘れたら
        </div>
        <div style="height:2vh;"></div>
        <div class="font_white">
          以下の欄に登録したメールアドレスをご入力ください
          <br>パスワード再設定について、メールでご連絡いたします
        </div>
        <div style="height:2vh;"></div>
        <div class="gogo">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>   
            <%= f.submit "送信",class:"btn_session" %>
          <% end %>
        </div>
        <div style="height:10vh;"></div>
      </div>
    </div>

  </div>
  <div class="block_side">
  </div>
</div>

