<div class="base_nothing02">
	<span>
		<div class="layer01">
			<div style="font-size:15px;color:#777777;">
				<%= image_tag "test28.png", :style =>'width:20px;height:20px;' %> 投稿がありません
			</div>
		</div>
	</span>
</div>