<div class="base_nothing">
	<span>
		<div class="layer03">
			<div>
				<%= image_tag "key_close.png", :style =>'width:30px;height:30px;' %> 
			</div>
			<div class="font_white" style="margin-top:5px;">
				投稿を見るには、フォローする必要があります
			</div>
		</div>
	</span>
</div>