<div class="base_nothing">
	<span>
		<div class="layer01">
			<div>
				<%= image_tag "tavore_logo_01.png", :style =>'width:60px;height:60px;' %>
			</div>
			<div style="font-size:20px;">
				TAVOREへようこそ
			</div>
			<div style="font-size:15px;">
				まずはあなたのお気に入りの映画､本､音楽を投稿してみましょう
			</div>
		</div>
	</span>
</div>