<div class="a1">
  <div class="a4">
    <div class="d1">    
      <div class="d2"></div>
    </div>
  </div>
  <div class="a8">
  		<div style="text-align:center;padding:0 10%;">
			<div>
				<%= image_tag "tavore_logo_01.png", :style =>'width:60px;height:60px;' %>
			</div>
			<div class="font_white_big">
				TAVOREへようこそ
			</div>
			<div style="height:5vh;"></div>
			<div class="font_white">
				まずはあなたのお気に入りの映画､本､音楽を
				<br>投稿してみましょう
			</div>
			<div style="height:10vh;"></div>
		</div>
  </div>
</div>	