<div class="base_nothing02">
	<span>
		<div class="layer01">
			<div class="font_gray">
				<%= image_tag "test28.png", :style =>'width:20px;height:20px;' %> ブックマークがありません
			</div>
		</div>
	</span>
</div>