<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">

		<div style="height:50px;"></div>

		<div class="a1">
          <div class="a4">
            <div class="d3">
            </div>
          </div>
          <div class="a5">
            <div class="e1">
              <div class="e4">
                  <div>
	                <%= image_tag "tavore_logo_01.png", :style =>'width:120px;height:120px;' %>
	              </div>
	              <div style="font-size:22px;">
	                Not Found
	              </div> 
	              <div style="height:3vh;"></div>    
	              <div class="font_white">
	                お探しのページは見つかりません
	              </div>     
	              <div style="height:12vh;"></div>    
              </div>
            </div>
          </div>
        </div>
		
	</div>
</div>


