<%#トップバー%>
<div class="bar_top">      
  <div class="inline_block_middle" style="width:20%;">
    <div style="text-align:left;padding-left:15px;">
      <a href="javascript:void(0);" onclick="window.history.back();">
        <%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
      </a>                    
    </div>
  </div>
  <div class="inline_block_middle" style="width:60%;">
    <div class="line_limit01" style="text-align:center;">
      <div style="font-size:14px;color:#FAFAFA;">
        
      </div>
    </div>
  </div>
  <div class="inline_block_middle" style="width:20%;">
    <div style="text-align:right;padding-right:15px;">
    </div>
  </div>
</div>
<div style="height:50px;"></div>

<div class="a1" style="height:calc(100% - 50px);">
  <div class="a8" style="text-align:center;">
    <span>  
      <div>
        <%= image_tag "tavore_logo_01.png", :style =>'width:100px;height:100px;' %>
      </div>
      <div style="font-size:20px;margin-top:-5px;">
          Not Found
      </div>
      <div style="height:10px;"></div>
      <div class="font_white">
          お探しのページは見つかりません
      </div>
      <div style="height:2px"></div>    
      <a href="https://goo.gl/forms/8u5OwHgXpyIKF4f83" target="_blank">
        <div style="font-size:12px;">
          フィードバックはこちら
        </div>
      </a>
      <div style="height:120px;"></div>  
    </span>
  </div>
</div>