<div class="main">
  <div class="block_side">
  </div>
  <div class="block_main">
    
    <div class="a1">
      <div class="a4">
        <div class="d1">
          <div class="d6"></div>
        </div>
      </div>
      <div class="a8" style="text-align:center;">
        <div style="height:50px;"></div>
        <div class="invitation_card02">
          <span>  
            <div>
              <%= image_tag "tavore_logo_01.png", :style =>'width:100px;height:100px;' %>
            </div>
            <div style="font-size:22px;">
                Not Found
            </div>
            <div style="height:3vh;"></div>
            <div class="font_white_min">
                お探しのページは見つかりません
            </div>
            <div style="height:5vh;"></div>
            <a href="javascript:void(0);" onclick="window.history.back();" class="btn_invite">
              前のページへ戻る
            </a>        
          </span>
        </div>
      </div>
    </div>  
    
  </div>
  <div class="block_side">
  </div>
</div>