<style>
  .bar_top{border:none;}
</style>
<div class="bar_post">      
  <div style="">
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:left;padding-left:15px;">
        <a href="javascript:void(0);" onclick="window.history.back();">
              <%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
            </a>                    
      </div>
    </div>
    <div class="inline_block_middle" style="width:70%;">
      <div class="contain_title02" style="text-align:center;">
        <div style="font-size:14px;color:#c2c2c2;">
          エラー
        </div>
      </div>
    </div>
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:right;">             
      </div>
    </div>
  </div>
</div>

<div style="height:45px;"></div>
<div style="height:35px;"></div>
<div class="a1" style="height:calc(100% - 80px);">
  <div class="a8" style="text-align:center;">
    <span>  
      <div>
        <%= image_tag "tavore_logo_01.png", :style =>'width:80px;height:80px;' %>
      </div>
      <div style="font-size:20px;">
          Not Found
      </div>
      <div style="height:2vh;"></div>
      <div class="font_white">
          お探しのページは見つかりません
      </div>
      <div style="height:0.5vh;"></div>    
      <a href="https://goo.gl/forms/8u5OwHgXpyIKF4f83" target="_blank">
        <div style="font-size:12px;">
          フィードバックはこちら
        </div>
      </a>
      <div style="height:10vh;"></div>    
    </span>
  </div>
</div>