<%#トップバー%>
<div class="bar_top">      
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:left;padding-left:15px;">
        	<a href="javascript:void(0);" onclick="window.history.back();">
          		<%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
        	</a>                    
      	</div>
    </div>
    <div class="inline_block_middle" style="width:60%;">
      	<div class="line_limit01" style="text-align:center;">
        	<div style="font-size:14px;color:#FAFAFA;">
          		メモを編集
        	</div>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:right;padding-right:15px;">
    		<button id="btn_post" style="font-size:15px;color:#2FB4B4;">
				更新
			</button>
	    </div>
    </div>
</div>
<div style="height:50px;"></div>

<%= form_tag("/memos/#{@memo.id}/update", method: :post, :name => "myform", :style => "height:calc(100% - 50px);") do %>
	<%#バリデーション用submit%>
	<input type="submit" style="display:none" name="submit">
	<%#内容%>
	<div class="form05" style="text-align:center;width:90%;height:100%;margin:0 auto;">
		<textarea name="content" id="textarea" placeholder="メモを書く(非公開)" wrap="soft" required="required" autofocus="autofocus"><%= @memo.content %></textarea>
	</div>
<% end %>

<%#投稿ボタンボタン%>
<script defer>
	$('#btn_post').click(function() {
		$("input[name=submit]").click();
	});
</script>